.sbpm-container {
    height: 100%;
    position: relative;
}

.sbpm-canvas {
    position: relative;

}

.sbpm-modeler {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;

    .sbpm-palette {
        border: 2px solid grey;
        padding: 5px;
        background: rgb(255, 255, 255, 1);
    }

    .sbpm-center {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .sbpm-properties {
        border: 2px solid grey;
        padding: 5px;
        background: rgb(255, 255, 255, 1);
    }
}