@import '/node_modules/normalize.css/normalize.css';
@import '/node_modules/materialize-css/dist/css/materialize.min.css';

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  * {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
  }
}

form,
.row {
  margin-bottom: 0;
}

.controls {
  height: 100%;

  &,
  .collapsible {
    padding: 0 !important;
    margin: 0 !important;
  }
}

.canvas {
  padding-left: 5px !important;
}

.title {
  font-weight: bold;
}

.update-options {
  height: 100px;
}

.update-controls {
  padding: 10px 0;

  .col {
    padding-top: 10px;
  }
}

pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  max-width: 100%;
  overflow: auto;
  display: block;
  word-wrap: break-word;
  height: 800px;
}
